<h1>Users</h1>

<div class="col-md-4 col-md-offset-8">
<%= form_tag users_path, :method => 'get' , class: 'form-inline' do %>
    <%= text_field_tag :search, params[:search], class: 'input-small', placeholder: 'name or email' %>
    <%= submit_tag "Search", :name => nil, class: 'btn btn-default' %>
<% end %>
</br>
</div>

<table class="table">
  <tr>
    <th><%= sortable_column "Name" %></th>
    <th><%= sortable_column "Email" %></th>
    <th><%= sortable_column "Admin" %></th>
    <th>Calendar</th>
    <th>Report</th>
    <th>Actions</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td><%= user.admin? ? 'yes' : 'no' %></td>
    <td><%= link_to 'Calendar', calendar_show_path(:user => user.id) %></td>
    <td><%= link_to 'Report', reports_get_path(user) %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td>
      <%= link_to_if not_this_user?(user), "Delete", {:controller => "users", :action => 'destroy', :id => user.id}, data: { confirm: "Are you sure you want to delete #{user.name}?" } , :method => :delete %>
    </td>
  </tr>
<% end %>
</table>

<%= will_paginate @products %>
