<h1>Users</h1>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Admin</th>
    <th>Calendar</th>
    <th>Actions</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td><%= user.admin? ? 'yes' : 'no' %></td>
    <td><%= link_to 'Calendar', calendar_show_path(:user => user.id) %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td>
      <%= link_to_if not_this_user?(user), "Delete", {:controller => "users", :action => 'destroy', :id => user.id}, :confirm => "Are you sure you want to delete #{user.name}?", :method => :delete %>
    </td>
  </tr>
<% end %>
</table>
