<h1>Projects</h1>

<table class="table">
  <thead>
    <tr>
      <th><%= sortable_column 'Name' %></th>
      <th><%= sortable_column "Started at:", column: "started_at"  %></th>
      <th><%= sortable_column 'Finished' %></th>
      <th><%= sortable_column 'Finished at:', column: "finished_at" %></th>
      <th>Users</th>
      <th>Total hours</th>
      <th>Actions</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.started_at.to_date %></td>
        <td><%= project.finished? ? 'yes' : 'no' %></td>
        <td><%= project.finished? ? project.finished_at.to_date : 'active' %>
        <td>
          <% users = users_for_project(project)%>
          <% users.each do |user|%>
            <%= link_to user.name, reports_get_path(user) %>;
          <% end %>
        </td>
        <td><%= total_time_for_project(project) %>h</td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Project', new_project_path, class: 'btn btn-default' %>
<br /> <br />
