<h1>Report : <%= @user.name %></h1>

<div class="col-md-4 col-md-offset-8">
<%= form_tag reports_get_path, :method => 'get' do %>
  <p>
    <%= link_to '<- Previous', reports_get_path(:beginning_of_month => @beginning_previous) %>
    <%= @beginning_current .strftime("%B, %Y") %>
    <%= link_to 'Next ->', reports_get_path(:beginning_of_month => @beginning_next) %>
  </p>
<% end %>
</div>

<p>
<div>
    Total time: <%= @total_time %>h
</div>

<div>
  <% @projects.each do |project| %>
    <%= project.name %>: <%= time_for_project(project, @user, @date_range) %>h
    <br />
  <% end %>
</div>
</p>

<div class="col-md-4 col-md-offset-8">
<%= form_tag  reports_get_path, :method => 'get' , class: 'form-inline' do %>
    <%= text_field_tag :search, params[:search], class: 'input-small', placeholder: 'title or project' %>
    <%= submit_tag "Search", :name => nil, class: 'btn btn-default' %>
<% end %>
</br>
</div>


<table class="table">
  <tr>
    <th><%= sortable_column "Title" %></th>
    <th><%= sortable_column "Date", column: "starts_at" %></th>
    <th><%= sortable_column "Hours", column: 'total_hours' %></th>
    <th><%= sortable_column "Project", column: "project_id" %></th>
    <th>Starting time</th>
    <th>Ending time</th>
    <th>Description</th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.title %></td>
    <td><%= event.starts_at.to_date %></td>
    <td><%= event.total_hours %>h</td>
    <td><%= event.project.name %></td>
    <td><%= event.starts_at.strftime("%H:%M") %></td>
    <td><%= event.ends_at.strftime("%H:%M") %></td>
    <td><%= event.description %></td>
  </tr>
<% end %>
</table>

<div class="col-md-4 col-md-offset-8">
  <p>
    Download:
    <%= link_to "CSV", reports_get_path(format: "csv") %> |
    <%= link_to "Excel", reports_get_path(format: "xls") %>
  </p>
</div>