<!DOCTYPE html>
<html>
<head>
  <title>ProjectCalendar</title>

  <%= javascript_include_tag "jquery.js" %>
  <%= javascript_include_tag "jquery.rest.js" %>
  <%= javascript_include_tag "rails.js" %>
  <%= javascript_include_tag "jquery-ui-1.8.11.custom.min.js" %>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
